<%- include('partials/header'); -%>
    <% posts.findLast(post => { %>
        <div>
            <h1><%=post.title%></h1>
            <p><%=post.content.substring(0, 100) + " ..."%></p>
            <a href="/posts/<%= post.title %>">Read More</a>
        </div>
    <% }) %>
<%- include('partials/footer'); -%>
